.footer a 
{
    color: rgb(251, 251, 251);
    
}
.footer 
{
    background-color: rgb(20, 20, 20);
}
.footer ul
{
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-inline-end: inherit;
}
.footer p
{
    color: rgb(88, 89, 96);
}

.footer li
{
    display:table;
}
.footer nav
{
    position: relative;
    
}

.footer h2
{
    font-size: 250%;
    color: rgb(100, 100, 100);
    margin-bottom: 0;
    padding-bottom: 0;
}






